// Here you can add other styles


.dropdown-item i {
    color:inherit;
}

.cursor-pointer {
    cursor: pointer;
  }

main {
    background-color: $light;
}

.sidebar .nav-link.active .nav-icon {
    color: white;
}

.app-header .nav-item .nav-link.active {
    color: $linkedin;
    font-weight: 500;
}

.app-header .navbar-toggler {
    outline: 0
}

.app-header .nav-item {
    padding: 0 20px;
}