// Variable overrides
@import '~@coreui/coreui/scss/variables/_colors.scss';


$primary: $primary;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-800;

$sidebar-nav-link-active-bg: $primary;
$sidebar-nav-link-hover-bg: lighten($sidebar-nav-link-active-bg, 15%);
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$border-color: $gray-200;
$card-border-color: $border-color;
$dropdown-border-color: $border-color;
$input-border-color: $border-color;
$input-group-addon-border-color: $border-color;

$sidebar-width: 250px;